<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.smu.cs.shalendar_java">

    <!-- 통신 허용 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 사진 추가 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".CreateCalendarActivityDialog" />


        <activity android:name=".CreateCalendarActivity"
            android:theme ="@style/AppTheme.NoActionBar"
            />

        <activity
            android:name=".CreateMember3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateMember2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateMember1"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".LoginActivity"
            android:theme ="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".BoardActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".RegisterPlanActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity android:name=".RecommandTimeActivity" />

        <activity
            android:name=".PlanDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".UpdatePlanActivity" />

        <activity android:name=".DeletePlanActivity" />

        <activity android:name=".NoticeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".SettingActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".InviteActivity" />0
            android:name=".SearchPlanActivity"
            android:label="@string/title_activity_search__plan"
            android:theme="@style/AppTheme.NoActionBar"/>
            <!--android:theme="@style/AppTheme.NoActionBar"/>-->
    </application>

</manifest>